@import "variables";

#form-search {
  width: fit-content;
  height: fit-content;
  position: relative;
}

input.search_input {
  height: 40px;
  width: 0px;
  border-style: none;
  padding: 1px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  padding-right: 20px;
  color:#fff;
  margin-right: 8px;
  background: transparent;

}

input.search_input::placeholder {
  color: rgb(255, 255, 255);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.btn-search{
  width: 41px;
  height: 38px;
  margin-right: 40px;
  border-style: none;
  font-size: 20px;
  font-weight: 900;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;
  z-index: 50;
  filter: invert(1);
  transition: filter 250ms;
  &:hover {
    filter: invert(0);
  }
}

.search > input {
  display: none;
}
.search {
  width: 40px;
  height: 60px;

}

.ce_form:focus .search_input input {
  width: 200px;
}

.btn-search:focus  ~ .ce_form .search >input{
  width: 40px;
  height: 60px;
  position: absolute;
  cursor: pointer;
  outline: none;
  right: 0;
  top: -8px;
  filter: invert(1);
}

.btn-search:focus ~ .ce_form .search_input > input {
  width: 200px;
  border-radius: 0;
  background-color: transparent;
  border-bottom:3px solid rgb(255,255,255);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);

}

.search_input:focus ~ .widget-submit input {
  display: block;
}

input.search_input:focus {
  width: 200px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:3px solid rgb(255,255,255);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.mod_search.block {
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
}

.mod_search input.text, .mod_search .submit  {
  display: none;
}

.mod_search .header, .mod_search .first.last.even  {
  font-size: 1.6em;
  line-height: 1.4em;
}

.mod_search .first.last.even {
  a {
    text-decoration: none;
    color: $gray;
    font-weight: 400;
    transition: color 250ms;
    cursor: pointer;
    &:hover {
      color: $yellow;
    }
  }
}

@media screen and (max-width: 760px) {

  .btn-search:focus ~ .ce_form .search_input > input {
    width: 120px;
  }
  #form-search input.submit {
    width: 27px;
  }
  input.search_input:focus {
    width: 120px;
  }

}

