@import "footer";
@import "header";
@import "main";
@import "slider";
@import "menu";
@import "form";
@import "form-header";
@import "product";

body {
  font-family:"Barlow Condensed", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}