@import "footer";
@import "header";
@import "main";
@import "slider";
@import "menu";
@import "form";
@import "form-header";
@import "product";

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Medium.ttf") format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Black.ttf") format('truetype');
  font-weight: bold;
}

body {
  font-family:"Barlow Condensed", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
