@import "variables";

.header-image {
  position: relative;
  height: auto;
  img {
    width: 100%;
  }
}

#header {
  background: url("/files/assets/bilder/header2-5.jpg") 0/cover;
  height: 75vh;
  .inside {
    background-color: rgba(248,168,0,0.8);
    height: 21vh;
  }
}

.header-banner {
  height: 100%;
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
}

.header-banner-top, .header-banner-bottom {
  height: 100%;
  width: 180px;
}

.header-banner-top {
  display: inline-block;
}

.header-logo {
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: 0;
  .image_container {
    height: 80%;
    a {
      height: 100%;
      img {
        width: 145px;
        height: 100%;
      }
    }
  }
}

.logo-slogan {
  margin-left: -34px;
  img {
    width: 180px;
  }
}

.header-banner-right {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  float: right;
  align-content: space-evenly;
}

.header-banner-top-right {
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
  display: flex;
  position: relative;
  width: 100%;
  justify-content: right;
  height: 35px;
}


#header-nav ul {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  z-index: 50;
  text-transform: uppercase;
  font-size: 16px;
  li {
    padding-left: 6px;
    margin-left: 6px;
    &:not(:first-child) {
      border-left: 2px solid white;
    }
    a {
      color: white;
      text-decoration: none;
      transition: filter 250ms;
      &:hover {
        filter: invert(1);
      }
    }
    &.active {
      color: white;
    }
  }
}

.mod_changelanguage .lang-de.active {
  display: none;
}

.mod_changelanguage {
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  li {
    border-left: 2px solid #fff;
    padding-left: 6px;
    margin-left: 6px;
    a {
      color: white;
      text-decoration: none;
      transition: filter 250ms;

      &:hover {
        filter: invert(1);
      }
    }
    &.active {
      color: white;
    }
  }
}

.header-banner-bottom-right {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: right;
  height: 35px;
}

.mobile_menu_trigger {
  cursor: pointer;
  margin-top: 1px;
  img {
    height: 34px;
    filter: invert(1);
    transition: filter 250ms;
    &:hover {
      filter: invert(0);
    }
  }
}

#form-search {
  position: relative;
}

@media screen and (max-width: 760px) {
#header {
  background: url("/files/assets/bilder/Mobile-Neue.jpg") 0/cover;
  height: 75vh;
  .inside {
    height: 25vh;
  }
}
  .header-banner-top, .header-banner-bottom {
    width: 115px;
  }
  .header-logo .image_container a  {
    img {
      width: 100px;
    }
  }

  .header-banner-top-right {
    margin-top: 13px;
  }

  .header-banner-bottom {
    margin-left: -18px;
  }

  #header-nav {
    display: none;
  }

  .logo-slogan {
    margin-left: 0;
    img {
      width: 140px;
    }
  }

  .header-banner-right {
    display: block;
  }

  .header-banner-bottom .mobile_menu_trigger {
    cursor: pointer;
    img {
      width: 38px;
      max-width: initial;
      height: 35px;
    }
  }

  .mod_changelanguage li {
      border: none;
  }

  .btn-search img {
    width: 36px;
  }
}

/*@media screen and (min-width: 715px) and (max-width: 1200px) {
  #header-nav {
    margin-left: 54%;
  }
}*/

