@import "variables";

.teaser-main p {
  color: $yellow-dunkel;
}

.teaser-news p {
  color: white;
}

.teaser-main {
  img {
    width: 170px;
    margin-left: 108px;
  }
}
.aktuelles {
  background: $yellow;
}

.image-main {
  width: 90%;
  max-width: $max-width;
  margin: 40px auto;
  img {
    width: 100%;
  }
}

.teaser-news, .teaser-main  {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  h2 {
    border-bottom-style: dotted;
    padding-bottom: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 30px;
  strong {
    margin-left: 157px;
    &:before {
      background: url("/files/assets/layout/arrow-right-black.svg") no-repeat;
      content: "";
      float: left;
      margin: 5px 0 0 -45px;
      background-size: contain;
      height: 28px;
      width: 30px;
      position: absolute;
    }
  }
  }
  p {
    font-size: 20px;
    margin-left: 118px;
    margin-top: 0px;
    line-height: 1.6em;
    &:before {
      content: "";
      float: left;
      margin: 4px 0 0 -109px;
      background-size: 50px;
      height: 55px;
      width: 29px;
      position: absolute;
    }
  }
}

.teaser-news p:before {
  background: url("/files/assets/layout/logo-white.svg") no-repeat;
}

.teaser-main p:before {
  background: url("/files/assets/layout/logo.svg") no-repeat;
}

.paragraph {
  max-width: 1000px;
  margin: 0 118px;
  font-size: 20px;
}

.image-container {
  width: 90%;
  max-width: $max-width;
  margin: 70px auto;
}

.image-container > figure {
  margin-left: 118px;
}

.standort {
  background: $gray ;
  h2 {
    border-bottom-color: white;
    color: $yellow-dunkel;
  }
}

.standort .teaser-news strong {
  &:before {
    background: url("/files/assets/layout/Arrow-right-yellow.svg") no-repeat;

  }
}

.standort-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1000px;
  margin: 68px auto;
}

.standort-block .image-left {
  width: 70%;
  margin-left: -31px;
}

.standort-block .image-right {
  width: 30%;
  margin-left: -175px;
}

.ansprechpartner {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  justify-content: space-between;
  margin: 50px auto;
  width: 90%;
  .ansprechpartner-box {
    width: 30%;
    max-width: 300px;
    cursor: pointer;
  .kontakt-image {
    img {
      width: 216px;
      transition: transform 250ms ease-out;
      &:hover {
        transform: scale(1.1);
      }
    }
   }
    .kontakt-image-scan img {
      width: 230px;
    }
  }
}

.kontakt-image h3 {
  margin-left: 35px;
  font-size: 20px;
  cursor: default;
  strong:before {
  background: url("/files/assets/layout/arrow-right-black.svg") no-repeat;
  content: "";
  float: left;
  margin: 5px 0 0 -35px;
  background-size: 21px;
  height: 23px;
  width: 30px;
  position: absolute;
  }
}

.kontakt-image p {
  font-size: 14px;
  text-align: left;
  a {
    text-decoration: none;
    color: #3c3c43;
    transition: color 250ms;
    &:hover {
      color: $yellow;
    }
  }
}

.text-only {
  width: 90%;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5em;
}

.text-only h2 {
  text-align: center;
  color: $yellow;
  margin: 30px 0;
  border-bottom-style: dotted;
  padding-bottom: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.back {
  text-align: center;
  margin: 60px auto;
  a {
    text-decoration: none;
    text-transform: uppercase;
    background: $yellow;
    padding: 12px 30px;
    color: white;
    border-radius: 8px;
    transition: filter 250ms;
    &:hover {
    filter: brightness(1.2);
    }
  }
}

.location {
  background-color: $gray;
  .standort-block .image-right {
    margin-top: 39px;
  }
}

.contacts .kontakt-image img, .contacts h3 {
  cursor: default;
}

.mod_newslist {
  width: 90%;
  margin: 30px auto;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .news {
    width: 30%;
    .image_container.float_above {
      margin-top: 20px;
    }
    h2 a {
      display: none;
    }
    .ce_text {
      line-height: 1.6em;
      font-size: 15px;
      color: white;
      .h2-span, .h2-span1 {
        padding: 0 7px;
        background: #000;
        line-height: 1.3em;
      }
      .h2-span1 {

      }
      .h2-span {

      }
      p {
        font-size: 20px;
      }
    }
    .more {
      margin-top: 0;
    }
  }
}

#container ::placeholder {
  color: white;
  opacity: 1;
  text-transform: uppercase;
}

.contact {
  .form_image {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: $max-width;
    margin: 15px auto;
    flex-wrap: wrap;
  }
}

.form_image .ansprechpartner-box {
  width: 30%;
  .kontakt-image img {
    width: 216px;
    transition: transform 250ms ease-out;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.contain_video {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.mod_newsreader .layout_full > * {
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.certification {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  justify-content: space-between;
  margin: 30px auto;
  width: 90%;
  .ce_image.block {
    width: 14%;
    cursor: pointer;
    /*align-items: center;
    display: flex;*/
    border: 2px solid gray;
    border-radius: 11px;
  }
  .image_container {
    align-items: center;
    display: flex;
    justify-content: space-around;
    a {
      img {
        width: 115px;
        transition: transform 250ms;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

/*.certification .image-width .image_container img {
  margin: 30px auto;
  width: 115px;
  transition: transform 250ms;
  &:hover {
    transform: scale(1.1);
  }
}*/

.certificat-logo1 {
  left: 186px;
  position: relative;
}

.certificat-logo2 {
  left: 166px;
  position: relative;
}

.certificat-logo3 {
  margin-left: 151px;
}

.certificat-logo4 {
  position: relative;
  left: -15px;
}

.certificat-logo5 {
  position: relative;
  left: -15px;
}

.tabelle {
  width: 90%;
  max-width: 1000px;
  margin: 30px auto;
}

@media screen and (max-width: 760px) {
  .teaser-news h2, .teaser-main h2 {
    font-size: 16px;
    strong {
      margin-left: 61px;
      &:before {
        margin: 0px 0 0 -30px;
        background-size: 18px;
      }
    }
  }

  .standort .teaser-news strong::before {
    background-size: 18px;
  }

  .teaser-news p, .teaser-main p {
    margin-left: 51px;
    font-size: 17px;
    line-height: 1.4em;
    &:before {
      height: 75px;
      margin: 8px 0 0 -53px;
      background-size: 30px;
    }
  }

  .teaser-main img {
    margin-left: 50px;
    width: 130px;
  }

  .paragraph {
    margin: 0 50px;
    font-size: 17px;
  }

  .image-container > figure {
    margin-left: 0;
  }

  .standort-block {
    margin: 35px auto;
  }

  .standort-block .image-left{
    width: 100%;
    margin: 0 auto;
  }

  .standort-block .image-right {
    width: 90%;
    margin: 15px auto ;
  }

  .ansprechpartner {
    .ansprechpartner-box {
      width: 100%;
      margin: 25px auto;
      text-align: center;
    }
  }

  .kontakt-image p {
    margin-left: 35px;
  }

  .mod_newslist .news {
    width: 100%;
  }

  .mod_newslist .news .ce_text .h2-span, .mod_newslist .news .ce_text .h2-span1 {
    top: 0;
    position: relative;
  }

  .mod_newslist .news .ce_text p {
    margin-top: 0;
  }
  .form_image .ansprechpartner-box {
    width: 100%;
    margin: 15px auto;
    text-align: center;
    .kontakt-image-scan img {
      width: 230px;
    }
    .kontakt-image p {
      margin-left: 60px;
    }
  }
  .certification .ce_image.block {
    width: 12%;
  }
  .certificat-logo1 {
    left: 56px;
  }

  .certificat-logo2 {
    left: 46px;
  }

  .certificat-logo3 {
    margin-left: 46px;
  }

  .certificat-logo4 {
    left: -6px;
  }

  .certificat-logo5 {
    left: -11px;
  }
  .kontakt-image h3 {
    margin-left: 0;
  }

}
