@import "variables";

#product-finder-article {
  padding-top: 50px;
  opacity: 0;
  transition: opacity 250ms;
}

.product {
  width: 90%;
  max-width: $max-width ;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 250ms;
}

.product_description {
  background: $yellow;
  color: white;
  padding: 0 8px 1px;
  h2 {
    background: black;
    display: inline-block;
    padding: 0 5px;
    margin: 0;
    transform: translateY(-50%);
  }
  p {
    width: 50%;
    margin-top: 0;
    font-size: 20px;
    margin-left: -9px;
  }
}

.product_items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-bottom: 20px;
  .item_left {
    width: 60%;
    text-transform: uppercase;
    p {
      margin: 0;
      padding: 6px 0;
      font-size: 19px;
      &:nth-child(2n) {
        background-color: #f8a80020;
      }
      &:not(:last-child) {
        border-bottom: 1px solid $yellow;
      }
      span {
        display: inline-block;
        width: 260px;
      }
    }
  }
}

.item_middle,.item_right {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  > * {
    width: 100%;
    text-align: center;
  }
}

.item_middle {
  width: 85px;
}

.item_right {
  width: 175px;
}

.ebc {
  position: relative;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background: #fff2cc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ebc-layover {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background: #351805;
  opacity: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pce {
  display: flex;
  justify-content: space-between;
  > .lab {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    &.pce_l {
      background: #191919;
      color: white;
      .pce_l_layover {
        background: #e7e6e6;
        color: black;
      }
    }
    &.pce_a {
      background: #00b050;
      .pce_a_layover {
        background: #f00;
      }
    }
    &.pce_b {
      background: #2f75b5;
      .pce_b_layover {
        background: #ff0;
      }
    }
    > .layover {
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.product-finder-filter-article {
  background: rgb(0,39,50);
  color: white;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  #filter {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    .filter-bottom {
      display: flex;
      justify-content: space-between;
      > div {
        width: 33%;
        ul {
          li {
            position: relative;
            margin: 5px 0;
            padding-left: 30px;
            cursor: pointer;
            &:before {
              position: absolute;
              content: "8";
              font-family: "Weimar",sans-serif;
              top: 0;
              left: 0;
              font-size: 17px;
            }
            &.li-checked{
              &:before {
                content: '9';
              }
            }
          }
        }
      }
    }
  }
}

#filter .submit, #filter .reset {
  margin: 15px auto;
  color: white;
}

.product_description img {
  width: 90px;
  border-right: 2px solid;
  padding-right: 70px;
}

.product_description_block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 12px;
  span {
    width: 23%;
    a {
      display: inherit;
      text-decoration: none;
      cursor: pointer;
      color: white;
      font-size: 16px;
      font-family: "Barlow",sans-serif;
      padding-right: 55px;
      transition: filter 250ms;
      &:hover {
        filter: invert(1);
      }
    }
    strong {
      font-weight: 400;
      font-size: 15px;
    }
  }
}

.product_description_block span a img{
  border: 0;
  width: 32px;
  padding-right: 0;
  padding-left: 50px;
}

#filter input {
  cursor: pointer;
  outline: 0;
  border: 1px solid #f9bd3f;
  background: transparent;
  color: white;
  width: 190px;
}

#filter li label {
  display: inline-block;
  width: 95px;
  color: white;
}

#filter #dosage, #filter #dk {
  margin: 15px 0;
  position: relative;
}

.notification {
  background: crimson;
  width: 88px;
  text-transform: full-size-kana;
  height: auto;
  position: absolute;
  left: -108px;
  top: -20px;
  font-size: 15px;
  padding: 5px 6px;
  opacity: 0;
  transition: opacity 250ms;
  font-style: italic;
}

@media screen and (max-width: 760px) {
  .product-finder-filter-article #filter .filter-bottom {
    display: block;
    div {
      width: 100%;
    }
  }
  .product_description p {
    width: 100%;
  }
  .product_description_block {
    p {
      width: 100%;
    }
    img {
      padding-right: 32px;
    }
    span {
      width: 35%;
      a {
        padding-right: 0;
      }
    }
  }
  .product_items {
    flex-wrap: wrap;
    .item_left {
      width: 100%;
    }
  }
  #filter .submit, #filter .reset {
    margin: 7px auto;
  }
  .product_items .item_left p {
    font-size: 16px;
  }
  .product_items .item_left p span {
    width: 160px;
  }
  .product-finder-filter-article #filter .filter-bottom div{
    .notification {
      left: 21px;
      width: 80px;
      top: -18px;
      font-size: 13px;
    }
  }
}

