@import "variables";

#self-test {
  padding-bottom: 30px;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
  .self-test-form {
    display: flex;
    flex-wrap: wrap;
    height: 245px;
    border: 1px solid #f8a800;
    padding: 20px 25px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    #question {
      width: 100%;
      height: 55px;
      text-transform: none;
      line-height: 1.7em;
      > span {
        text-transform: uppercase;
        color: $yellow-dunkel;
      }
    }
    .answers, .answers1, .answers2, .answersB1, .answersB13 {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 25px 0;
      & > div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 20%;
        height: 54px;
        text-align: center;
        background: white;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        user-select: none;
        transition: background-color 250ms;
        color: black;
        &:hover {
          background-color: $yellow;
        }
      }
    }
    .progress-bar {
      position: relative;
      width: 100%;
      height: 9px;
      background: #ecdead;
      border-radius: 3px;
      margin: 15px 0;
      .progress-bar-fill {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0%;
        background: #c99c00;
        border-radius: 3px;
        transition: width 250ms;
      }
    }
    .contact-button {
      height: 20px;
      margin-right: 20px;
      align-self: end;
      display: inline-block;
      opacity: 1;
      width: 250px;
      text-align: center;
      padding: 10px 12px;
      background: #f8a800c9;
      border-radius: 5px;
      cursor: pointer;
      color: white;
      user-select: none;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 15px;
      transition: background-color 250ms;
      &:hover {
        background-color: #c69b43;
      }
    }
    .back-button {
      height: 20px;
      align-self: end;
      display: inline-block;
      opacity: 1;
      width: 100px;
      text-align: center;
      padding: 10px 12px;
      background: rgba(255, 255, 255, 0.44);
      border: 1px solid #f8a800c9;
      border-radius: 5px;
      cursor: pointer;
      color: white;
      user-select: none;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 15px;
      transition: background-color 250ms;
      &:hover {
        background-color: rgb(207, 164, 62);
      }
    }
  }
}

#product-finder-article .product.ce_accordion.invisible-product {
  opacity: 0;
  display: none;
}

#product-finder-article .product.ce_accordion.visible-product {
  opacity: 1;
  display: block;
}

#product-finder-article .product.ce_accordion.fading-in-product {
  opacity: 1;
}

#product-finder-article .product.ce_accordion.fading-out-product {
  opacity: 0;
}

#product-finder-article1 {
  padding-top: 50px;
  .product {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;

  }
}

body.product-finder #header {
  background-image: url('../bilder/header/Malze-5337.webp');
  height: 40vh;
}

.reload {
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
  transform: translate(-50%, -50%);
  left: 50%;
  position: absolute;
  text-align: center;
  opacity: 0;
  img {
    width: 100px;
    animation: rotation 6s infinite linear;
    @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}

.reload.visible-reload {
  opacity: 1;
  transition: opacity 150ms;
}
.reload.invisible-reload {
  opacity: 0;
  transition: opacity 150ms;
}
.reload.fading-in-reload {
  opacity: 1;
  transition: opacity 150ms;
}
.reload.fading-out-reload {
  opacity: 0;
  transition: opacity 150ms;
}

.answer-placeholder {
  height: 87px;
  width: 100%;
}


@media screen and (max-width: 760px) {
  #self-test {
    .self-test-form {
      height: auto;
      .answers, .answers1, .answers2, .answersB1, .answersB13 {
        & > div {
          width: 100%;
          margin: 8px auto;
          padding: 0;
        }
      }
      #question {
        height: auto;
      }
      .contact-button {
        margin: 10px auto;
      }
    }
  }
}
